<!--Side Bar-->
<mz-sidenav [fixed]="'true'" [backgroundClass]="'grey darken-3'">
  <mz-sidenav-header>
    <img src="../assets/mini-pic.jpg" alt="">
  </mz-sidenav-header>
  <mz-sidenav-link [active]="true">
    <a href="#" class="text-white grey darken-4 text-center title"> Expense Manager </a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a href="#" class="waves-effect text-white">
      <i class="material-icons text-white">airplay</i>
      <span>Accueil</span></a>
  </mz-sidenav-link>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-sidenav-link>
    <a href="#" class="waves-effect text-white "><i class="material-icons text-white">add_shopping_cart</i> <span>Courses</span></a>
  </mz-sidenav-link>
  <mz-dropdown-divider></mz-dropdown-divider>
</mz-sidenav>

<!-- Main Content-->
<main>
  <div class="row">
    <div class="col s12">
      <nav class="grey darken-3">
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="#!" class="breadcrumb"> <span>Courses</span> </a>
            <a href="#!" class="breadcrumb"> <span>Nouvelles Courses</span> </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</main>
