/* You can add global styles to this file, and also import other style files */
.text-white {
  color: white!important;
}
.text-center {
  text-align: center;
}
.hidden{
  display: none;
}
body {
  background-color: #e0e0e0;
}
.top{
  top: 0;
}
.bottom {
  bottom: 0;
}
.full {
  right: 0; left: 0; width: 100%;
}
.absolute{
  position: absolute;
}
